* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.blue-card {
  position: absolute;
  background-color: #bdccff;
  width: 30.5%;
  height: 90%;
  left: 69.5%;
  z-index: -1;
}
.logo {
  margin-top: 3%;
  margin-left: 8%;
}
.logo a {
  font-size: 27px;
}
nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
nav ul {
  display: flex;
  gap: 40px;
  margin-top: 3%;
  margin-right: 7%;
}
nav a {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}
ul a:hover {
  color: rgba(0, 0, 0, 0.5);
}
header {
  margin-top: 5%;
  margin-left: 10%;
}
header h3 {
  color: #ff9900;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}
header h2 {
  font-size: 50px;
  font-family: "Manrope", sans-serif;
}
header p {
  font-size: 17 px;
  font-family: "Manrope", sans-serif;
}
header input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 20px;
  width: 21%;
  margin-top: 3%;
}
header ::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Manrope", sans-serif;
}
.button {
  background-color: rgb(248, 90, 71);
  color: white;
  border-style: none;
  padding: 16px 20px;
  font-family: "Manrope", sans-serif;
  margin-left: -1%;
}
.button:hover {
  background-color: rgba(248, 90, 71, 0.9);
}
header img {
  position: absolute;
  left: 63%;
  bottom: 20%;
}
.brand p {
  text-align: center;
  margin-top: 15%;
  font-family: "Manrope", sans-serif;
}
.imagebrand {
  display: flex;
  margin-left: 8%;
}
.imagebrand img {
  margin-top: 4%;
}
.imagebrand img.buzz {
  width: 5%;
  height: 5%;
}
.imagebrand img.chase {
  width: 6%;
  height: 6%;
  margin-top: 4.3%;
  margin-left: 9%;
}
.imagebrand img.microsoft {
  width: 10%;
  height: 10%;
  margin-top: 3.7%;
  margin-left: 9%;
}
.imagebrand img.gucc {
  width: 9%;
  height: 9%;
  margin-top: 4.1%;
  margin-left: 9%;
}
.imagebrand img.airbnb {
  width: 3%;
  height: 3%;
  margin-top: 3.2%;
  margin-left: 9%;
}
.imagebrand img.uber {
  width: 13%;
  height: 13%;
  margin-top: 3.5%;
  margin-left: 9%;
}
.imagebrand img.howItWorks {
  font-family: "Manrope", sans-serif;
  text-align: center;
  margin-top: 24%;
}
.howItWorks h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 9%;
}
.howItWorks .icon {
  display: flex;
  justify-content: center;
  gap: 12%;
  margin-top: 6%;
}
.fa-magnifying-glass {
  color: white;
  background-color: #9672ff;
  padding: 20px;
  border-radius: 50%;
  margin-left: 36%;
  box-shadow: 1px 55px 90px 1px#9672ff;
}
.searchIcon h4 {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}
.searchIcon p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}
.fa-hand-holding-heart {
  color: white;
  background-color: #4ddffd;
  padding: 20px;
  border-radius: 50%;
  margin-left: 36%;
  box-shadow: 1px 55px 90px 1px #4ddffd;
}
.handHeartIcon h4 {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}
.handHeartIcon p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}
.fa-building {
  color: white;
  background-color: #f2b8ec;
  padding: 20px;
  border-radius: 50%;
  margin-left: 36%;
  box-shadow: 1px 55px 90px 1px#f2b8ec;
}
.buildingIcon h4 {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}
.buildingIcon p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
}
content .hAndB {
  display: flex;
  justify-content: space-between;
  margin-top: 14%;
}
.hAndB button {
  color: white;
  background-color: #f85a47;
  padding: 16px 20px;
  margin-top: 0.5%;
  margin-right: 5%;
  border-radius: 5px;
  border-style: none;
  font-family: "Manrope", sans-serif;
  box-shadow: 1px 30px 80px 0.1px #f85a47;
}
.hAndB button:hover {
  background-color: rgba(248, 90, 71, 0.9);
}
content h2 {
  font-size: 30px;
  font-family: "Manrope", sans-serif;
  margin-left: 8%;
  margin-bottom: 1%;
}
content p {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  margin-left: 8%;
}
.propertyP {
  display: flex;
}
p.active {
  color: #f85a47;
  border-bottom: 1px solid #f85a47;
}
.propertyP p {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  padding: -50px;
  margin-top: 5%;
}
.imgRealEstate {
  display: flex;
  margin-top: 4%;
}
.imgRealEstate img {
  border-radius: 10px;
}
.imgRealEstate .gedung1 {
  position: relative;
  left: 8%;
}
.imgRealEstate .gedung2 {
  position: relative;
  left: 10%;
}
.imgRealEstate .gedung3 {
  position: relative;
  left: 12%;
}
article .bluebg {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #f1ffff;
  left: 8%;
  padding: 0.1% 41% 46% 41%;
  z-index: -2;
}
article h2 {
  font-size: 30px;
  font-family: "Manrope", sans-serif;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 5%;
}
.build1 {
  position: absolute;
  margin-left: 14%;
  margin-top: -35%;
  z-index: -1;
}
.build2 {
  position: absolute;
  margin-top: -12%;
  left: 16%;
  box-shadow: 60px 35px 100px 1px rgba(0, 0, 0, 0.2);
}
.articleH2 {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  margin-top: 6.5%;
  margin-left: 46%;
}
.articleP {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  margin-top: 4%;
  margin-left: 46%;
}
.spek1 {
  display: flex;
  margin-top: 3%;
  margin-left: 46%;
  gap: 150px;
}
.spek1 h6 {
  font-size: 22px;
  font-family: "Manrope", sans-serif;
}
.spek1P {
  display: flex;
  margin-top: 1%;
  margin-left: 46%;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: #545a58;
  gap: 115px;
}
.spek2 {
  display: flex;
  margin-top: 3%;
  margin-left: 46%;
  gap: 150px;
}
.spek2 h6 {
  font-size: 22px;
  font-family: "Manrope", sans-serif;
}
.spek2P {
  display: flex;
  margin-top: 1%;
  margin-left: 46%;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: #545a58;
  gap: 175px;
}
.freak {
  position: absolute;
  left: 77.5%;
}
.articleButton button {
  color: white;
  background-color: #f85a47;
  margin-top: 3%;
  margin-left: 46%;
  width: 36%;
  padding: 14px 16px;
  border-style: none;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  box-shadow: 4px 4px 5px black;
}
.articleButton button:hover {
  color: black;
  transition: 2s;
}
.rating h3 {
  font-size: 34px;
  font-family: "Manrope", sans-serif;
  margin-top: 12%;
  margin-left: 8%;
}
.parentCard {
  display: flex;
  margin-top: 4%;
}
.fa-star {
  color: #fbb040;
}
.card1 {
  border: 1px solid #ebebeb;
  border-radius: 4%;
  width: 26%;
  padding: 50px 36px 70px 36px;
  margin-left: 8%;
}
.card1 p {
  font-family: "Manrope", sans-serif;
  margin-top: 12%;
  line-height: 27px;
}
.card1 img {
  display: inline-block;
  vertical-align: top;
  margin-top: 20%;
  border-radius: 50%;
}
.card2 {
  border: 1px solid #ebebeb;
  border-radius: 4%;
  width: 26%;
  padding: 50px 36px 70px 36px;
  margin-left: 4%;
}
.card2 p {
  font-family: "Manrope", sans-serif;
  margin-top: 12%;
  line-height: 27px;
}
.card2 img {
  display: inline-block;
  vertical-align: top;
  margin-top: 20%;
  border-radius: 50%;
}
.card3 {
  border: 1px solid #ebebeb;
  border-radius: 4%;
  width: 26%;
  padding: 50px 36px 70px 36px;
  margin-left: 4%;
}
.card3 p {
  font-family: "Manrope", sans-serif;
  margin-top: 12%;
  line-height: 27px;
}
.card3 img {
  display: inline-block;
  vertical-align: top;
  margin-top: 20%;
  border-radius: 50%;
}
.textInImg {
  display: inline-block;
  margin-top: 20%;
  margin-left: 5%;
}
.textInImg h6 {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}
.textInImg span {
  font-family: "Manrope", sans-serif;
}
.sponsorImg {
  display: flex;
  gap: 6%;
  margin-top: 5%;
  margin-left: 10%;
}
.sponsorImg img.airbnb1 {
  width: 3.5%;
  height: 3.5%;
}
.sponsorImg img.cisco1 {
  width: 4%;
  height: 4%;
  margin-top: 1%;
}
.sponsorImg img.ebay1 {
  width: 3.5%;
  height: 3.5%;
  margin-top: 1%;
}
.sponsorImg img.uber1 {
  width: 14%;
  height: 7%;
  margin-top: -0.2%;
}
.sponsorImg img.microsoft1 {
  width: 10%;
  height: 10%;
  margin-top: 0.5%;
}
.sponsor p {
  color: #333333;
  font-family: "Manrope", sans-serif;
  margin-top: -0.7%;
}
.sponsor a {
  color: #333333;
  border-bottom: 1px solid #333333;
  margin-bottom: 5%;
}
.mailSectionBackground {
  position: absolute;
  background-color: #fbfcfc;
  padding: 1% 50% 20% 50%;
  margin-top: -19.5%;
  z-index: -2;
}
.mailH2 {
  font-size: 50px;
  font-family: "Manrope", sans-serif;
  text-align: center;
  margin-top: 6%;
}
.mail h4 {
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  text-align: center;
  margin-top: 1%;
}
.mail input {
  border-style: none;
  border-radius: 10px;
  min-width: 39%;
  margin-top: 4%;
  margin-left: 31%;
  padding: 20px 56px 20px 20px;
  background-color: #f0f0f0;
}
::placeholder {
  color: #31353b;
}
.borderbottomMail {
  border-bottom: 1px solid #dedfe1;
  width: 50%;
  margin-top: 2.5%;
  margin-left: 25%;
}
footer {
  margin-top: 6%;
  margin-bottom: 4%;
}
.borderLeft {
  border-left: 3px solid #fd5b1b;
  padding: 150px;
  margin-left: 5%;
}
.buletanLogo {
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  width: 5%;
  padding: 30px;
  margin-top: -22.3%;
  margin-left: 9%;
  background-color: #d9d9d9;
}
.buletanLogo p {
  position: absolute;
  margin-top: -1.5%;
  margin-left: 4%;
  font-size: 36px;
  font-family: "Inter", sans-serif;
}
.pUnderLogo {
  margin-left: 10%;
  margin-top: 3%;
  font-family: "Inter", sans-serif;
  font-size: 22px;
}
.social p {
  margin-top: 5%;
  margin-left: 9%;
  font-size: 22px;
  font-family: "Inter", sans-serif;
}
.socialIcon {
  display: flex;
  gap: 18px;
  margin-top: 1%;
  margin-left: 9.5%;
}
.fa-facebook {
  color: white;
}
.borderFacebook {
  border: 1px solid #1877f2;
  border-radius: 50%;
  background-color: #1877f2;
  padding: 12px;
  margin-left: -1%;
  z-index: -1;
}
.borderFacebook:hover {
}
.fa-twitter {
  color: white;
}
.borderTwitter {
  border: 1px solid #1da1f2;
  border-radius: 50%;
  background-color: #1da1f2;
  padding: 12px;
  z-index: -1;
}
.fa-linkedin-in {
  color: white;
}
.borderLinkedin {
  border: 1px solid #2867b2;
  border-radius: 50%;
  background-color: #2867b2;
  padding: 12px;
  z-index: -1;
}
.fa-youtube {
  color: white;
}
.borderYoutube {
  border: 1px solid #ff0000;
  border-radius: 50%;
  background-color: #ff0000;
  padding: 11px;
  z-index: -1;
}
.fa-instagram {
  color: white;
}
.borderInstagram {
  border: 1px solid #f00073;
  border-radius: 50%;
  background-color: #f00073;
  padding: 12px;
  z-index: -1;
}
.recentProject h2 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  color: #fd5b1b;
  margin-top: -22.3%;
  margin-left: 37%;
}
.recentProject img {
  width: 140px;
  height: 120px;
  border-radius: 10px;
  margin-top: 1.5%;
  margin-left: 37%;
}
.textImgRP {
  font-size: 19px;
  font-family: "Inter", sans-serif;
  margin-top: -6%;
  margin-left: 49%;
  margin-bottom: 3%;
}
.textImgRP1 {
  font-size: 19px;
  font-family: "Inter", sans-serif;
  margin-top: -6%;
  margin-left: 49%;
  margin-bottom: 2.5%;
}
.viewMore {
  color: #4f74f3;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  margin-left: 49%;
  margin-top: -5%;
}
.locationAndContactH21 {
  color: #fd5b1b;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  margin-top: -24.8%;
  margin-left: 71%;
}
.locationAndContact img {
  width: 300px;
  height: 120px;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 71%;
}
.locationAndContactH22 {
  color: #fd5b1b;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  margin-top: 0.4%;
  margin-left: 71%;
}
.locationAndContactP {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  margin-top: 1%;
  margin-left: 71.5%;
}
.locationAndContactH6 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  margin-top: 3%;
  margin-left: 71.5%;
}
